* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Google font defined  */

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 200 to 800 */

/* Normal FONT for Heading  */

.assistant-ass_variable {
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/* Normal FONT for Sub-Heading  */

.tenor-sans-regular {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Paragrapgh font */

.ysabeau-office-para-font {
    font-family: "Ysabeau Office", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/*  Hindi Font */
.tiro-devanagari sanskrit-regular {
    font-family: "Tiro Devanagari Sanskrit", serif;
    font-weight: 400;
    font-style: normal;
}

.tiro-devanagari sanskrit-regular-italic {
    font-family: "Tiro Devanagari Sanskrit", serif;
    font-weight: 400;
    font-style: italic;
}

/* Font Section Ends */



/* ---------------------------------- *\
    # Universal elements declared 
\* ---------------------------------- */

:root {

    /* font family */

    --ff-hindi: "Tiro Devanagari Sanskrit", serif;
    --ff-heading-assistant: "Assistant", sans-serif;
    --ff-s-heading-tenor: "Tenor Sans", sans-serif;
    --ff-para-ysabeau: "Ysabeau Office", sans-serif;

    /* font colors */

    --fc-black: #000000;
    --fc-white: #fff;
    --fc-orange: #ff6f00;
    --fc-dark-gray: #151414;

    /* colors */
    --col-yellow: #ffbb00;

    /* Gradient */

    /* --lg-orange-yellow: linear-gradient(90deg, #ff6f00, #ff9900, #ffd70d); */
    --lg-orange-yellow: linear-gradient(90deg, #ff6f00, #ff5900, #ff8e0d);
    --lg-yellow: radial-gradient(#fff700, #ffffff);

}

/* ---------------------------------- *\
               Scrollbar
\* ---------------------------------- */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(33, 100%, 50%);
    /* border-radius: 1px; */
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(33, 100%, 42%);
}

:focus-visible {
    outline-offset: 4px;
}


/* ---------------------------------- *\
           Main CSS STARTS
\* ---------------------------------- */

body {
    background: #b54921;
    /* background: #ff5900; */
    color: rgb(0, 0, 0);

}

/*--------------------- google translate css ----------------------*/


/* .VIpgJd-ZVi9od-ORHb{
    display: none;
} */

/* #google_translate_element{
    position: absolute;
    top: 2px;
    right: 0px;
} */

#google_translate_element .skiptranslate {

    color: transparent;
    font-size: 0;
}

#google_translate_element .skiptranslate select {
    display: block;
    padding: 3px 5px;
    border: none;
    border-radius: 2px;
    font-family: var(--ff-para-ysabeau);
    width: 7.5rem;
    cursor: pointer;
    /* background: var(--lg-orange-yellow); */
    /* background-color: var(--fc-orange); */
    /* color: var(--fc-white); */
}

#google_translate_element .skiptranslate select option {

    font-weight: 500;

}

#google_translate_element .skiptranslate .pov {
    display: none !important;

}


#google_translate_element .skiptranslate span {
    display: none !important;
}


/* ------------------ header css starts---------------- */
header>nav {
    background: var(--lg-orange-yellow);
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    filter: drop-shadow(0 0 5px #818181);
}



nav a {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--fc-white);
    font-weight: 700;
    font-weight: 800;
    font-family: var(--ff-heading-assistant);
    /* font-family: var(--ff-s-heading-tenor); */
}

nav a img {
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

nav ul li {
    list-style: none;
    font-family: var(--ff-heading-assistant);
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--fc-white);
    margin: 1rem;
    cursor: pointer;
}

nav ul li a {
    font-family: var(--ff-heading-assistant);
    font-weight: 500;
    font-size: 1.2rem;
    transition: all .3s;
}

nav ul li a:hover {
    color: #fff;
    transform: translateY(-5px);
    /* box-shadow: 0 0 2px 2px #fff; */
    filter: drop-shadow(0 0 2px #ff7700);
    border-bottom: 2px solid #ffffff;
    border-radius: 5px;

}

/* tablet */
@media screen and (max-width:1200px) {
    header>nav {
        padding: 0 1.3rem;
    }

    nav a {
        font-size: 1.5rem;
        font-weight: 700;
    }

    nav a img {
        height: 4rem;
    }

    nav ul li {
        font-size: 1rem;
        margin: .6rem;
    }

    nav ul li a {
        font-family: var(--ff-heading-assistant);
        font-weight: 500;
        font-size: 1.05rem;
        transition: all .3s;
    }

    /* --- g translate ----- */
    #google_translate_element .skiptranslate select {
        padding: 3px 4px;
        width: 6.85rem;
        font-size: .75rem;
    }
}

/* ------------------ header css ends---------------- */

/* main section starts*/

.main {
    max-width: 1920px;
    /*QHD  2560 x 1440   ful;l hd 1920 x 1080 */
    background: #fff;
    margin: auto;
}


/* home section */

.main .home {
    /* min-height: 90vh; */
    margin-bottom: 1.5rem;
    width: 100%;
    background: var(--fc-white);
}

.main .home .home_hero {
    background: var(--fc-white);
    /* background: #adadad; */
    padding: 2rem 13rem;
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    align-items: center;
}

.home .home_hero .home_img img {
    border-radius: 12px;
    margin-top: 2rem;
    filter: drop-shadow(6px 7px .5px var(--col-yellow));
    /* z-index: auto; */
}

.home .home_hero .home_txt h1 {
    font-family: var(--ff-para-ysabeau);
    font-weight: 700;
    font-size: 2.5rem;
    margin: 1rem 0;

}

.home .home_hero .home_txt p {
    font-family: var(--ff-para-ysabeau);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--fc-dark-gray);
}


.home .home_txt .cta_btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    /* background-color: #ff5900; */
    width: 80%;
    margin-top: 2rem;
}

.home .home_txt .cta_btns .contact_btn_hero,
.donate_btn_hero {

    padding: .6rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--fc-white);
    border: none;
    background: var(--fc-orange);
    cursor: pointer;
}

.home .home_txt .cta_btns a .contact_btn_hero,
a .donate_btn_hero {
    text-decoration: none;
    color: var(--fc-white);
    transition: all .3s;
}


.home .home_txt .cta_btns .contact_btn_hero:hover,
.donate_btn_hero:hover {
    color: var(--fc-orange);
    background: var(--fc-white);
    border: 2px solid var(--fc-orange);
    filter: drop-shadow(5px 5px 0px var(--fc-orange));
}

.home .home_txt .cta_btns .contact_btn_hero>a:hover,
.donate_btn_hero a:hover {
    color: var(--fc-orange);
}


/* ------------- text anim strip jai strip --------------- */

.home .jai_strip {
    background: var(--lg-orange-yellow);
    height: 4rem;
    color: var(--fc-white);
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    margin-top: 2rem;

}


.home .jai_strip h1 {
    font-family: var(--ff-s-heading-tenor);
    font-size: 1.8rem;
    font-weight: 800;
    white-space: nowrap;
    text-overflow: clip;
    z-index: 4;
    /* overflow: hidden; */
    transform: translateX(-50%);
    animation: jaistrip 15s linear .2s infinite;

    /* position: absolute; */
    display: flex;
    align-items: center;
}

.home .jai_strip h1 svg {
    margin: 0 10px;
    color: rgb(255, 255, 255);
    height: 2.2rem;
}

/* ------ jai strip text animation ----- */

@keyframes jaistrip {
    from {

        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

#bars,
#cross {
    display: none;
}


/* ===========------------------ tablet --------------------- =============== */



@media screen and (max-width:1200px) {

    header>nav {
        padding: 0 1.3rem;
        position: fixed;
        z-index: 500;
    }

    nav a {
        font-size: 1.5rem;
        font-weight: 700;
    }

    nav a img {
        height: 4rem;
    }

    nav ul li {
        font-size: 1rem;
        margin: .6rem;
    }

    nav ul li a {
        font-family: var(--ff-heading-assistant);
        font-weight: 500;
        font-size: 1.05rem;
        transition: all .3s;
    }

    /* --- g translate ----- */
    #google_translate_element .skiptranslate select {
        padding: 3px 4px;
        width: 6.85rem;
        font-size: .75rem;
    }

    .main .home .home_hero {
        padding: 1.5rem 5rem;
        gap: 5rem;
    }


    .home .home_hero .home_img img {
        max-height: 25rem;
        margin-top: 5.5rem;

    }

    .home .home_hero .home_txt h1 {
        font-weight: 700;
        font-size: 2rem;
        margin: .8rem 0;

    }

    .home .home_hero .home_txt p {
        font-size: 1.1rem;
        font-weight: 500;
    }


    .home .home_txt .cta_btns {
        gap: 2rem;
        width: 80%;
        margin-top: 1.5rem;
    }

    .home .home_txt .cta_btns .contact_btn_hero,
    .donate_btn_hero {

        padding: .6rem 1.5rem;
        font-size: .9rem;
        font-weight: 600;
        color: var(--fc-white);
        border: none;
        background: var(--fc-orange);
        cursor: pointer;
    }

    /*  ********* jai strip *********** */


    .home .jai_strip {
        height: 3rem;
        margin-top: 1.5rem;
    }

    .home .jai_strip h1 {
        font-size: 1.4rem;
        font-weight: 800;
    }

    .home .jai_strip h1 svg {
        height: 1.8rem;
        margin: 0 10px;
        color: rgb(255, 255, 255);
    }

}

/* ------------------------ mobile ------------------------- */
main {
    overflow: hidden;
}

#bars {
    transition-delay: .3s;
}

nav .menu-bar {
    position: absolute;
    height: 100vh;
    z-index: 599;
    top: 0;
    right: 0;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    font-family: var(--ff-para-ysabeau);
    background: linear-gradient(#ff7700, #fdb21b);
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(100%);
}

nav .menu-bar a {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--ff-para-ysabeau);

}

@media screen and (max-width:850px) {

    header>nav {
        position: fixed;
        z-index: 500;
    }

    #bars,
    #cross {
        color: var(--fc-white);
        font-size: 1.5rem;
        display: block;
        z-index: 600;
    }

    #cross {
        display: none;
    }

    nav ul {
        display: none;
    }

    .menu-bar {
        /* display: block; */
        height: 200px;
    }

    .main .home .home_hero {
        padding: 1.2rem 1.3rem;
        gap: 2rem;
    }

    .home .home_hero .home_img {

        margin-top: 2rem;
    }

    .home .home_hero .home_img img {
        max-height: 20rem;
    }

    .home .home_hero .home_txt h1 {
        font-weight: 700;
        font-size: 1.4rem;
        margin: .8rem 0;

    }

    .home .home_hero .home_txt p {
        font-size: .95rem;
        font-weight: 500;
    }


    .home .home_txt .cta_btns {
        gap: 1.5rem;
        width: 80%;
        margin-top: 1.3rem;
    }

    .home .home_txt .cta_btns .contact_btn_hero,
    .donate_btn_hero {

        padding: .6rem 1.5rem;
        font-size: .8rem;
        font-weight: 600;
    }

    .home .jai_strip {
        height: 3rem;
        margin-top: 1.3rem;
        z-index: 4;
    }

    .home .jai_strip h1 {
        font-size: 1.3rem;
        font-weight: 800;
        z-index: 4;
    }

    .home .jai_strip h1 svg {
        height: 1.7rem;
        margin: 0 10px;
        color: rgb(255, 255, 255);
        z-index: 4;
    }
}

@media screen and (max-width:550px) {
    .home_hero {
        flex-flow: wrap;
    }


}

@media screen and (max-width:400px) {

    /* nav */
    header>nav {
        padding: 0 1rem;
        height: 4.2rem;
        position: fixed;
        z-index: 500;
    }

    nav a {
        font-size: 1.15rem;
        font-weight: 700;
    }

    nav a img {
        height: 3.5rem;
    }



    #bars,
    #cross {
        font-size: 1.3rem;
    }

    nav .menu-bar {
        width: 80%;
    }


    .main .home .home_hero {
        padding: 1rem 1rem;
        gap: .8rem;
    }

    .home .home_hero .home_img {
        /* position: relative; */
    }

    .home .home_hero .home_img img {
        max-height: 18rem;
        /* position: fixed; */
        z-index: -1;
        margin-top: 4rem;

    }

    .menu-bar {
        z-index: 599;
    }

    .home .home_hero .home_txt h1 {
        font-weight: 700;
        font-size: 1.2rem;
        /* margin: .8rem 0; */

    }

    .home .home_hero .home_txt p {
        font-size: .85rem;
        font-weight: 500;
    }


    .home .home_txt .cta_btns {
        gap: 1.2rem;
        width: 80%;
        margin-top: 1.3rem;
    }

    .home .home_txt .cta_btns .contact_btn_hero,
    .donate_btn_hero {

        padding: .6rem 1.5rem;
        font-size: .8rem;
        font-weight: 600;
    }

    .home .jai_strip {
        height: 2.5rem;
        margin-top: 1rem;
    }

    .home .jai_strip h1 {
        font-size: 1.1rem;
        font-weight: 800;
    }

    .home .jai_strip h1 svg {
        height: 1.3rem;
        margin: 0 10px;
        color: rgb(255, 255, 255);
    }
}


/* ==================== Home Ends ========================= */




/*  --------------  About section starts ------------- */

.about {
    /* background: #fcfcfc; */
    /* min-height: 90vh; */
    /* padding: 0rem 0rem; */
    /* position: relative; */
    /* display: none; */
}

.about .about_h {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    font-family: var(--ff-para-ysabeau);

    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: .5rem; */
    /* color: var(--fc-orange); */
}



.about .about_h>img {
    height: 6rem;
    margin: 0 3rem;
    animation: shivling1 1.8s ease-in-out infinite alternate;
}

.about .about_h img:nth-child(2) {
    height: 6rem;
    margin: 0 3rem;
    animation: shivling2 1.8s ease-in-out infinite alternate;
}


/* shivling animaation */

@keyframes shivling1 {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(50px);
    }
}

@keyframes shivling2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50px);
    }
}

.about-back_img {
    margin-top: 2rem;
    background-image: url(/img/about-bg-mandir.jpg);
    /* min-height: 90vh; */
    height: 700px;

    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: top;
    padding: 0 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
    /* opacity: .5; */
    z-index: 1;
}

.about-back_img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000077;

    z-index: 3;
}

.about-back_img p {
    font-size: 1.3rem;
    font-family: var(--ff-para-ysabeau);
    font-weight: 500;
    color: var(--fc-white);
    text-align: center;

    z-index: 4;
    /* position: relative; */
    background: linear-gradient(to right, #ff005541, #ff6f003f);
    border-radius: 3rem;
    border: 1px solid #ffffff;
    padding: 8rem 5.5rem;
}


.about-back_img .jai_mahakaal {
    /* margin-top: 2rem; */
    color: var(--fc-white);
    position: absolute;
    bottom: 25px;
    z-index: 5;
    left: 40%;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--ff-heading-assistant);

}

@media screen and (max-width: 1200px) {
    .about .about_h {
        font-size: 2.5rem;
        font-weight: 700;
        font-family: var(--ff-para-ysabeau);
    }

    .about .about_h>img {
        height: 5.5rem;
        margin: 0 3rem;
        animation: shivling1 1.8s ease-in-out infinite alternate;
    }

    .about .about_h img:nth-child(2) {
        height: 5.5rem;
    }

    .about-back_img {
        margin-top: 1.5rem;
        height: 600px;
        padding: 0 6rem;
    }

    .about-back_img p {
        font-size: 1.2rem;
        line-height: 30px;
        padding: 3rem 3.2rem;
    }

    .about-back_img .jai_mahakaal {
        font-size: 1.3rem;
    }
}


@media screen and (max-width:850px) {
    .about .about_h {
        font-size: 2.2rem;
        font-weight: 700;
        font-family: var(--ff-para-ysabeau);
    }

    .about .about_h>img {
        height: 5.2rem;
        margin: 0 3rem;
        animation: shivling1 1.8s ease-in-out infinite alternate;
    }

    .about .about_h img:nth-child(2) {
        height: 5.2rem;
    }

    .about-back_img {
        margin-top: 1rem;
        height: 600px;
        padding: 0 4rem;
    }

    .about-back_img p {
        font-size: 1.1rem;
        line-height: 30px;
        padding: 2rem 2.2rem;
    }

    .about-back_img .jai_mahakaal {
        font-size: 1.2rem;
    }
}


@media screen and (max-width:630px) {
    .about .about_h {
        font-size: 1.6rem;
        font-weight: 700;
        font-family: var(--ff-para-ysabeau);
    }

    .about .about_h>img {
        height: 5rem;
        margin: 0 2.3rem;
    }

    .about .about_h img:nth-child(2) {
        height: 5rem;
    }

    .about-back_img {
        margin-top: 1rem;
        height: 550px;
        padding: 0 2rem;
    }

    .about-back_img p {
        font-size: 1rem;
        line-height: 30px;
        padding: 2rem 1.3rem;
    }

    .about-back_img .jai_mahakaal {
        font-size: 1.1rem;
        text-align: center;
    }
}

@media screen and (max-width:540px) {

    .about .about_h {
        font-size: 1.2rem;
        font-weight: 700;
        font-family: var(--ff-para-ysabeau);
    }

    .about .about_h>img {
        height: 3rem;
        margin: 0 1rem;
    }

    .about .about_h img:nth-child(2) {
        height: 3rem;

        margin: 0 1rem;
    }

    @keyframes shivling1 {
        0% {
            transform: translateX(0px);
        }

        100% {
            transform: translateX(20px);
        }
    }

    @keyframes shivling2 {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-20px);
        }
    }


    .about-back_img {
        margin-top: 1rem;
        height: 450px;
        padding: 0 .5rem;
    }



    .about-back_img p {
        font-size: .8rem;
        line-height: 18.5px;
        padding: 2rem 1.3rem;
    }

    .about-back_img .jai_mahakaal {
        font-size: 1rem;
        text-align: center;
    }
}


/* ******************* about section ends ***************************** */





/* ------------------- JAL ARPAN ---------------- */

.jal-arpan {
    /* min-height: 100vh; */
    /* display:s none; */

}

.jal-h {
    margin: 1rem 0;
    text-align: center;
    padding: 1rem 0;

    font-family: var(--ff-para-ysabeau);
    font-weight: 700;
    color: var(--fc-orange);
    font-size: 3rem;
    border-top: 2px solid var(--fc-orange);
    border-bottom: 2px solid var(--fc-orange);
    display: flex;
    justify-content: center;
    align-items: center;
}

.jal-arpan .jal-h img {
    height: 5rem;
    animation: jal_lota1 3s ease-in-out .2s alternate infinite;
    /* margin-right: 1rem; */

}

.jal-arpan .jal-h img:nth-child(2) {
    transform: scaleX(-1);
    animation: jal_lota2 3s ease-in-out .2s alternate infinite;
    /* margin-left: 1rem; */
}

/* jal arpan animation */
@keyframes jal_lota1 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(50px);
    }
}

@keyframes jal_lota2 {
    0% {
        transform: translateX(10px) scaleX(-1);
    }

    100% {
        transform: translateX(-40px) scaleX(-1);
    }
}

.jal-arpan .jal-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 4rem;
}

.jal-arpan .jal-container .jal-img,
.jal-vid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.jal-arpan .jal-container .jal-img a,
.jal-vid a {
    text-decoration: none;
    font-family: var(--ff-para-ysabeau);
    background: var(--fc-orange);
    padding: .8rem 1.2rem;
    color: var(--fc-white);
    font-weight: 600;
    letter-spacing: .3px;
    transition: all .3s ease-in-out;
    align-items: flex-end;

}

.jal-arpan .jal-container .jal-img a:hover,
.jal-vid a:hover {
    background: var(--fc-white);
    box-shadow: 3px 3px 0 var(--fc-orange);
    color: var(--fc-orange);
    border: 2px solid var(--fc-orange);
}


.jal-arpan .jal-container .jal-img img {
    height: 30rem;
}

.jal-arpan .jal-container .jal-vid video {
    height: 30rem;
    border-radius: 9px;
    /* border: 2px solid var(--fc-orange); */
    box-shadow: 2px 3px 10px #ff6f00;

}

/*------------------------- Responsive code -*------------------- */

@media screen and (max-width:1200px) {

    .jal-h {
        margin: 1rem 0;
        padding: .8rem 0;
        font-size: 2.5rem;
    }

    .jal-arpan .jal-h img {
        height: 4rem;
    }

    .jal-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }


    .jal-arpan .jal-container {
        padding: 1rem 0;
        margin-bottom: 4rem;
    }

    .jal-arpan .jal-container .jal-img,
    .jal-vid {
        gap: 1.5rem;
    }

    .jal-arpan .jal-container .jal-img a,
    .jal-vid a {
        padding: .7rem 1.1rem;
        letter-spacing: .3px;
    }


    .jal-arpan .jal-container .jal-img img {
        height: 22rem;
    }

    .jal-arpan .jal-container .jal-vid video {
        height: 22rem;
    }

}

@media screen and (max-width:630px) {

    .jal-h {
        margin: 1rem 0;
        padding: .8rem 0;
        font-size: 2rem;
    }

    .jal-arpan .jal-h img {
        height: 3rem;
    }


    .jal-arpan .jal-container .jal-img a,
    .jal-vid a {
        padding: .7rem 1rem;
        letter-spacing: .3px;
        font-size: .9rem;
    }


    .jal-arpan .jal-container .jal-img img {
        height: 14rem;
    }

    .jal-arpan .jal-container .jal-vid video {
        height: 20rem;
    }
}

@media screen and (max-width:450px) {

    .jal-h {
        margin: 1rem 0;
        padding: .8rem 0;
        font-size: 1.2rem;
    }

    .jal-arpan .jal-h img {
        height: 2.5rem;
    }


    .jal-arpan .jal-container .jal-img a,
    .jal-vid a {
        padding: .5rem .7rem;
        letter-spacing: .3px;
        font-size: .8rem;
    }


    .jal-arpan .jal-container .jal-img img {
        height: 11rem;
    }

    .jal-arpan .jal-container .jal-vid video {
        height: 20rem;
    }
}




/* ----------------------------- jal arpan ends ----------------------- */


/* ------------ GALLERY ------------------ */


/* heading */

.gallery {
    /* min-height: 100vh; */
    width: 100%;
    /* display: none; */
}

.gallery .gallery_heading {
    height: 5rem;
    background: var(--fc-orange);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

    font-family: var(--ff-s-heading-tenor);
    font-weight: 1000;
    font-size: 2.5rem;
    color: var(--fc-white);
    letter-spacing: 25px;
}



.gallery .threed-image {
    /* padding: 1rem 10rem; */
    /* padding: 1rem 10rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery .threed-image .threed-box {
    height: 26rem;
    width: 20rem;
    margin: 2rem 3rem;

    overflow: hidden;
    position: relative;
    transition: all .5s ease-in-out;
    border-radius: 20px;

    filter: drop-shadow(4px 2px 10px rgba(0, 0, 0, 0.295));
}

.gallery .threed-image .threed-box:hover .threed-front {
    /* transform-origin: bottom; */
    transform: perspective(1000px) rotateX(70deg);
    cursor: pointer;
    /* transform: translateX(500px); */
}

.gallery .threed-image .threed-box:hover .threed-back {
    top: 0;
    margin-bottom: 1rem;
}

.gallery .threed-image .threed-box:nth-child(2) {
    height: 22rem;
    width: 27rem;
}

.gallery .threed-image .threed-box:nth-child(2):hover .threed-front {
    transform-origin: bottom;
    transform: perspective(1000px) rotateX(55deg);
    cursor: pointer;
    /* transform: translateX(500px); */
}




.gallery .threed-image .threed-box:nth-child(3) {
    height: 20rem;
    width: 30rem;
    /* width: auto; */
}

.gallery .threed-image .threed-box:nth-child(3):hover .threed-front {
    transform-origin: bottom;
    transform: perspective(3000px) rotateX(65deg);
    cursor: pointer;
    /* transform: translateX(500px); */
}

.gallery .threed-image .threed-box:nth-child(4) {
    height: 35rem;
    width: auto;
    /* width: 22rem; */
}

.gallery .threed-image .threed-box:nth-child(4):hover .threed-front {
    transform-origin: bottom;
    transform: perspective(3000px) rotateX(55deg);
    cursor: pointer;
    /* transform: translateX(500px); */
}

.gallery .threed-image .threed-box img {
    height: 100%;
    width: 100%;
    /* position: absolute; */
}


.gallery .threed-image .threed-box .threed-front {
    position: absolute;
    z-index: 2;
    transition: all .7s ease-in-out;
}

.gallery .threed-image .threed-box .threed-back {
    /* left: 50%; */
    z-index: 3;
    position: absolute;

}



/*   ----------------- normal images ------------------  */

.normal-g-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.2rem;
}

.normal-g-img img {
    height: 22rem;
    width: auto;
    margin: 1rem 2rem;
    border-radius: 20px;
}

.gallery .more-img {

    overflow: hidden;
    text-decoration: none;
    font-size: 1rem;
    /* border-radius: 5px; */
    color: var(--fc-white);
    background-color: var(--fc-orange);
    padding: .7rem 1.7rem;


    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--ff-para-ysabeau);
    font-weight: 600;

    width: 5.5rem;
    margin: auto;
    transition: all .4s ease;
    margin-top: 1rem;
}


.gallery .more-img:hover {
    color: var(--fc-orange);
    background: var(--fc-white);
    border: 2px solid var(--fc-orange);
    filter: drop-shadow(5px 5px 0px var(--fc-orange));
}

.gallery .notice{
    font-weight: 300;
    font-family: var(--ff-para-ysabeau);
    height: 1rem;
    margin: auto;
    width: 85%;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    /* margin: 1rem; */
    /* background-color: #000000; */
}
.gallery .notice h3{
  
    text-align: center;
    color: #252525;
    font-weight: 400;
}

/*---------------------------  responsive codes ------------------------------ */
@media screen and (max-width:950px) {


    .gallery .gallery_heading {
        height: 4rem;
        margin: 1rem 0;
        font-size: 2rem;
        letter-spacing: 25px;
    }


    .gallery .threed-image .threed-box {
        height: 20rem;
        width: 16rem;
        margin: 1rem 1.5rem;
    }

    .gallery .threed-image .threed-box:nth-child(2) {
        height: 16rem;
        width: 20rem;
    }


    .gallery .threed-image .threed-box:nth-child(3) {
        height: 15rem;
        width: 22rem;
        /* width: auto; */
    }


    /* normal images */


    .normal-g-img {
        margin-top: .7rem;
    }

    .normal-g-img img {
        height: 16rem;
        width: auto;
        margin: 1rem 1rem;
        border-radius: 20px;
    }

    .gallery .more-img {
        font-size: .85rem;
        padding: .5rem 1.3rem;
        font-weight: 600;
        margin-top: .7rem;
    }


    .gallery .notice{
        font-weight: 300;
        font-family: var(--ff-para-ysabeau);
        /* height: 1rem; */
        height: auto;
        margin: auto;
        /* width: 85%; */
        font-size: .7rem;
        justify-content: center;
        align-items: center;
        display: flex;
        /* margin: 1rem; */
        /* background-color: #000000; */
    }
    .gallery .notice h3{
      
        text-align: center;
        color: #252525;
        font-weight: 400;
    }
    

}


@media screen and (max-width:500px) {


    .gallery .gallery_heading {
        height: 3.5rem;
        margin: .8rem 0;
        font-size: 1.3rem;
        letter-spacing: 15px;
    }


    .gallery .threed-image .threed-box {
        height: 16rem;
        width: 12rem;
        margin: .5rem 1.5rem;
    }

    .gallery .threed-image .threed-box:nth-child(2) {
        height: 13rem;
        width: 17rem;
    }


    .gallery .threed-image .threed-box:nth-child(3) {
        height: 13rem;
        width: 20rem;
        /* width: auto; */
    }


    /* normal images */


    .normal-g-img {
        margin-top: .7rem;
    }

    .normal-g-img img {
        height: 14rem;
        width: auto;
        margin: .7rem .6rem;
        border-radius: 20px;
    }

    .normal-g-img img:nth-child(3) {
        height: 10.5rem;
        width: 17rem;
    }

    .gallery .more-img {
        font-size: .85rem;
        padding: .5rem 1rem;
        font-weight: 600;
        margin-top: .7rem;
    }


}



/*  --------------------------------- gallery section ends ----------------------------------- */








/* contact section */

.contact {
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0;
    /* display: none; */
}

.contact .contact-h {
    font-family: var(--ff-s-heading-tenor);
    font-weight: 800;
    border-bottom: 3px solid var(--fc-orange);
    border-radius: 5px;
    font-size: 2.5rem;
    letter-spacing: 2px;
    padding: .5rem 0;

}

.form {
    background: var(--fc-orange);
    height: 37.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


    padding: 1rem 5rem;
    margin-top: 2rem;
    /* border: 2px solid var(--fc-orange); */
    /* border-radius: 1rem; */
    overflow: hidden;

    position: relative;
}

/* RAM JI TXT BACK */

.form .ram-txt-bg {
    position: absolute;
    font-family: var(--ff-heading-assistant);
    font-size: 12.5rem;
    color: #ffffff67;
    font-weight: 900;
    z-index: 1;
}

.form .form-fill {
    /* background: var(--fc-orange); */
    display: flex;
    flex-direction: column;
    padding: 3rem 6rem;
    width: 33rem;
    z-index: 3;
}

.form .form-fill input {
    border: none;
    border-radius: 2px;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    background: #fffdfb;
    color: #000000;
    border: 1px solid var(--fc-orange);
    box-shadow: 0 0 5px #ffffff;
}

.form .form-fill input:focus {
    border: 3px solid #fadabb;
    outline: none;
}

.form .form-fill input::placeholder {
    color: #000000;
    font-family: var(--ff-s-heading-tenor);
    letter-spacing: 1px;
}

.form .form-fill .form-message {
    border: none;
    border-radius: 2px;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    background: #fffdfb;
    color: #000000;
    border: 1px solid var(--fc-orange);
    box-shadow: 0 0 5px #ffffff;
    height: 10rem;

}

.form .form-fill textarea {
    resize: vertical;
    max-height: 14rem;
}

.form .form-fill .form-message::placeholder {}

.form .form-fill .submit-contact {
    background: var(--fc-white);
    filter: none;
    color: var(--fc-orange);
    border: 1px solid #fff;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 600;
    font-family: var(--ff-s-heading-tenor);
    letter-spacing: .7px;
    transition: all .2s ease-in-out;
}

.form .form-fill .submit-contact:hover {
    background: var(--fc-orange);
    color: #fff;
    box-shadow: 3px 3px 0px #fff;
}

/* hanuman ji */

.form .contact-hanuman_ji {
    z-index: 3;
}

.form .contact-hanuman_ji img {
    height: 38rem;
    z-index: 3;
    filter: drop-shadow(5px 0px 15px #fff);
    align-items: flex-end;
}





/*  MAP  */

.contact .map {
    padding: 1.5rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
}

.contact .map .map-h {
    font-family: var(--ff-para-ysabeau);
    font-weight: 700;
    text-align: center;
    padding: 1rem 1rem;
    font-size: 2.7rem;
    border-top: 2px solid var(--fc-orange);
    border-bottom: 2px solid var(--fc-orange);
    width: 100%;
    /* color: var(--fc-orange); */
    letter-spacing: 2px;

}

.contact .g-map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 65rem;

}

.contact .g-map iframe {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 2rem;
    filter: drop-shadow(3px 4px 7px #aaa);
}

.contact .map h3 {
    font-family: var(--ff-para-ysabeau);
    font-weight: 500;
    padding: 0 15rem;
    text-align: center;
}

/*  ------------------------- responsive code ------------------  */

@media screen and (max-width:1200px) {



    .contact {
        /* padding: 3rem 0; */
    }

    .contact .contact-h {
        font-weight: 800;
        border-radius: 5px;
        font-size: 2rem;
        letter-spacing: 2px;
        padding: .3rem 0;

    }

    .form {
        height: 33rem;
        padding: 1rem 3rem;
        margin-top: 1.5rem;
    }

    /* RAM JI TXT BACK */

    .form .ram-txt-bg {
        font-size: 9rem;
        font-weight: 900;
        z-index: 1;
    }

    .form .form-fill {
        padding: 2rem 4rem;
        width: 29rem;
        z-index: 3;
    }

    .form .form-fill input {
        margin-top: 2rem;
        padding: .85rem;
    }


    .form .form-fill .form-message {
        margin-top: 2rem;
        padding: .85rem;
    }

    .form .form-fill textarea {
        resize: vertical;
        max-height: 11.5rem;
    }

    .form .form-fill .submit-contact {
        font-size: .85rem;
        font-weight: 600;
    }



    /* hanuman ji */

    .form .contact-hanuman_ji {
        z-index: 3;
    }

    .form .contact-hanuman_ji img {
        height: 33.5rem;
        z-index: 3;
        filter: drop-shadow(5px 0px 15px #fff);
        align-items: flex-end;
    }

    /* map */


    .contact .map {
        padding: 1.3rem 0 0 0;
        gap: 2rem;
    }

    .contact .map .map-h {
        padding: .8rem 1rem;
        font-size: 2rem;
    }

    .contact .g-map {
        height: 17rem;
        width: 85%;
    }

    .contact .map h3 {
        padding: 0 3rem;
        font-size: 1.1rem;
    }



}

@media screen and (max-width:750px) {

    .contact .contact-h {
        font-weight: 800;
        border-radius: 5px;
        font-size: 1.8rem;
        letter-spacing: 2px;
        padding: .3rem 0;

    }

    .form {
        height: 27rem;
        padding: 1rem 3rem;
        margin-top: 1.2rem;
    }

    /* RAM JI TXT BACK */

    .form .ram-txt-bg {
        font-size: 7rem;
        font-weight: 900;
        z-index: 1;
    }

    .form .form-fill {
        padding: 1rem 2rem;
        width: 29rem;
        z-index: 3;
    }

    .form .form-fill input {
        margin-top: 1rem;
        padding: .85rem;
    }


    .form .form-fill .form-message {
        margin-top: 1rem;
        padding: .85rem;
    }

    .form .form-fill textarea {
        resize: vertical;
        max-height: 11rem;
    }

    .form .form-fill .submit-contact {
        font-size: .85rem;
        font-weight: 600;
    }



    /* hanuman ji */

    .form .contact-hanuman_ji {
        z-index: 3;
    }

    .form .contact-hanuman_ji img {
        height: 27.5rem;
        align-items: flex-end;
    }


}

@media screen and (max-width:580px) {

    .contact .contact-h {
        font-weight: 800;
        border-radius: 5px;
        font-size: 1.3rem;
        letter-spacing: 2px;
        padding: .3rem 0;

    }

    .form {
        padding: 1rem 1rem;
        margin-top: 1.2rem;
        flex-wrap: wrap;
        height: 50rem;

    }


    /* RAM JI TXT BACK */

    .form .ram-txt-bg {
        font-size: 6rem;
        font-weight: 900;
        z-index: 1;
    }

    .form .form-fill {
        padding: 1rem 1rem;
        width: 25rem;
        z-index: 3;
    }

    .form .form-fill input {
        margin-top: .9rem;
        padding: .85rem;
    }


    .form .form-fill .form-message {
        margin-top: 1rem;
        padding: .85rem;
    }

    .form .form-fill textarea {
        resize: vertical;
        max-height: 11rem;
    }

    .form .form-fill .submit-contact {
        font-size: .85rem;
        font-weight: 600;
    }



    /* hanuman ji */

    .form .contact-hanuman_ji {
        z-index: 3;
    }

    .form .contact-hanuman_ji img {
        height: 23rem;
        align-items: flex-end;
    }

    /* map */


    .contact .map {
        padding: 1rem 0 0 0;
        gap: 1.3rem;
    }

    .contact .map .map-h {
        padding: .5rem 1rem;
        font-size: 1.3rem;
    }

    .contact .g-map {
        height: 10rem;
        width: 85%;
    }

    .contact .map h3 {
        padding: 0 1rem;
        font-size: .8rem;
    }



}

/* ------------------------- contact section ends ------------------------- */





/* --------------------------- Footer ------------------------------  */

.footer {
    background: var(--lg-orange-yellow);
    /* display: none; */
}

.footer .footer-svg {
    /* background: var(--lg-orange-yellow); */
    /* background: var(--fc-orange); */
    color: #aaa;
    fill: var(--lg-orange-yellow);
    fill: var(--fc-orange);
}

.footer .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 3rem;
    padding: 3rem 2rem;
    color: var(--fc-white);
    font-family: var(--ff-para-ysabeau);

}

.footer .footer-container .f-part1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35rem;
}

.footer .footer-container .f-part1 img {
    width: 5.5rem;
    /* margin: auto; */
    border: 3px solid #fff;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #fff);

}

.footer .footer-container .f-part1 h3 {
    margin-top: 1.3rem;

}

.footer .footer-container .f-part1 h4 {
    font-weight: 400;
}



.footer .footer-container .f-part2 {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: .8rem;

}

.footer .footer-container .f-part2 h4 {
    font-weight: 800;
    margin-bottom: 1rem;
    letter-spacing: .7px;
}

.footer .footer-container .f-part2 a {
    text-decoration: none;
    color: var(--fc-white);
    font-weight: 500;
    transition: all .2s ease-in-out;
}

.footer .footer-container .f-part2 a:hover {
    color: #fff;
    filter: drop-shadow(0 0 5px #fff);
    transform: scale(1.03);
}

.footer .footer-container .f-part3 {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: .8rem;

}

.footer .footer-container .f-part3 h4 {
    font-weight: 800;
    margin-bottom: 1rem;
    letter-spacing: .8px;
}

.footer .footer-container .f-part3 ul {
    gap: 1rem;
}

.footer .footer-container .f-part3 ul>li {
    list-style: none;
    margin-bottom: 1rem;

}

.footer .footer-container .f-part3 ul>li i {
    color: #fff6ee;
    margin-right: 8px;
}

.footer .footer-container .f-part3 .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 0 0 0;
    border-top: 1px solid #fff;
}

.footer .footer-container .f-part3 .socials a {
    border: 2px solid #fff;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--fc-white);
    transition: .3s all ease-in-out;
}

.footer .footer-container .f-part3 .socials a:hover {
    background: var(--fc-white);
    color: var(--fc-orange);
    filter: drop-shadow(0 0 5px #fff);
    /* border: 2px solid var(--fc-orange) ; */
}


/* footer kanha ashu tech */

.footer h5 {
    text-align: center;
    font-family: var(--ff-para-ysabeau);
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    padding: 1rem;
    border-top: 1px solid var(--fc-white);
}

.footer h5 a {
    text-decoration: none;
    color: #ffdcc0;
    transition: .3s all;
}

.footer h5 a:hover {
    color: rgb(255, 255, 255);
    /* filter: drop-shadow(0 0 3px #650000); */
}


/* ------------- responsive code -------------- */


@media screen and (max-width:1200px) {
    
    .footer .footer-container {
        gap: 2rem;
        padding: 2rem 1.5rem;
    }
    
    .footer .footer-container .f-part1 {
        gap: 1rem;
        width: 31rem;
    }
    
    .footer .footer-container .f-part1 img {
        width: 4.8rem;
    }
    
    .footer .footer-container .f-part1 h3 {
        margin-top: 1rem;
    
    }
    
    .footer .footer-container .f-part1 h4 {
        font-weight: 400;
    }
    
    
    
    .footer .footer-container .f-part2 {
        gap: .7rem;
    }
    
   
    .footer .footer-container .f-part3 {
        gap: .7rem;
    
    }
    
    .footer .footer-container .f-part3 h4 {
        font-weight: 800;
        margin-bottom: 1rem;
        letter-spacing: .8px;
    }
    
    .footer .footer-container .f-part3 ul {
        gap: 1rem;
    }
    
    .footer .footer-container .f-part3 ul>li {
        margin-bottom: .8rem;
    }
    
    .footer .footer-container .f-part3 .socials {
        padding: 2rem 0 0 0;
    }
    
    .footer .footer-container .f-part3 .socials a {
        border: 2px solid #fff;
        height: 3rem;
        width: 3rem;
    }
    
    
    /* footer kanha ashu tech */
    
    .footer h5 {
        font-size: 15px;
        padding: 1rem;
    }
    
}


@media screen and (max-width:850px){
    .footer .footer-container{
        flex-wrap: wrap;
    }
    .footer .footer-container .f-part1 {
        width: 35rem;
    }
    .footer .footer-container .f-part2 {
        gap: .7rem;
        /* text-align: left; */
        width: 35rem;
    }


    .footer .footer-container {
        padding: 1rem 1.5rem;
    }
    
    
    .footer .footer-container .f-part1 img {
        margin: auto;
    }
    
    .footer .footer-container .f-part1 h3 {
        margin-top: 1.3rem;
     text-align: center;
    }
    
    .footer .footer-container .f-part1 h4 {
        font-weight: 400;
        text-align: center;
    }
    
    
    
    .footer .footer-container .f-part2 {
        gap: .15rem;
    
    }
    
    .footer .footer-container .f-part2 h4 {
        margin-bottom: .5rem;
    }
    
    
    .footer .footer-container .f-part3 {
        gap: .15rem;
    
    }
    
    .footer .footer-container .f-part3 h4 {
        font-weight: 800;
        margin-bottom: .5rem;
        letter-spacing: .8px;
    }
    
    .footer .footer-container .f-part3 ul {
        gap: .15rem;
    }
    
    .footer .footer-container .f-part3 ul>li {
        list-style: none;
        /* margin-bottom: 1rem; */
    
    }
    
    .footer .footer-container .f-part3 ul>li i {
        color: #fff6ee;
        margin-right: 8px;
    }
    
    .footer .footer-container .f-part3 .socials {
        padding: 1rem 0 0 0;
    }
    
    .footer .footer-container .f-part3 .socials a {
        border: 2px solid #fff;
        height: 2.7rem;
        width: 2.7rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: var(--fc-white);
        transition: .3s all ease-in-out;
    }
    
   
    
    /* footer kanha ashu tech */
    
    .footer h5 {
        text-align: center;
        font-family: var(--ff-para-ysabeau);
        text-decoration: none;
        color: #ffffff;
        font-size: 15px;
        padding: 1rem;
        border-top: 1px solid var(--fc-white);
    }
    
    .footer h5 a {
        text-decoration: none;
        color: #ffdcc0;
        transition: .3s all;
    }
    
    .footer h5 a:hover {
        color: rgb(255, 255, 255);
        /* filter: drop-shadow(0 0 3px #650000); */
    }
}










































/* --------------------- f ooter ends  ---------------------------*/